<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Space X  Falcon 9 First Stage Landing Prediction**

## Lab 2: Data wrangling

Estimated time needed: **60** minutes

In this lab, we will perform some Exploratory Data Analysis (EDA) to find some patterns in the data and determine what would be the label for training supervised models.

In the data set, there are several different cases where the booster did not land successfully. Sometimes a landing was attempted but failed due to an accident; for example, <code>True Ocean</code> means the mission outcome was successfully  landed to a specific region of the ocean while <code>False Ocean</code> means the mission outcome was unsuccessfully landed to a specific region of the ocean. <code>True RTLS</code> means the mission outcome was successfully  landed to a ground pad <code>False RTLS</code> means the mission outcome was unsuccessfully landed to a ground pad.<code>True ASDS</code> means the mission outcome was successfully landed on  a drone ship <code>False ASDS</code> means the mission outcome was unsuccessfully landed on a drone ship.

In this lab we will mainly convert those outcomes into Training Labels with `1` means the booster successfully landed `0` means it was unsuccessful.

在这个实验中，我们将进行一些探索性数据分析（EDA）来寻找数据中的一些模式，并确定训练有监督模型的标签。

在数据集中，有多种不同的情况导致助推器没有成功着陆。有时候尝试着陆但由于事故而失败；例如，True Ocean意味着任务结果成功地降落到海洋的特定区域，而False Ocean则表示任务结果未能成功地降落到海洋的特定区域。True RTLS意味着任务结果成功降落到地面垫，False RTLS意味着任务结果未能成功降落到地面垫。True ASDS意味着任务结果成功地降落到了无人机船上，False ASDS意味着任务结果未能成功地降落到无人机船上。

在这个实验中，我们主要将这些结果转换为训练标签，其中1表示助推器成功着陆，0表示未成功。

在机器学习和数据科学中，训练标签（Training Labels）是用来标记或者分类数据的。它们是监督学习算法的关键组成部分，因为算法使用这些标签来学习如何预测和分类新的未标记的数据。

<span style="color:red;">**训练标签可以看作是预测模型的答案**</span>，模型在训练过程中，会尝试对给定的输入数据进行预测，然后将预测结果与训练标签进行比较，然后根据比较结果调整模型参数，使模型的预测结果更接近于训练标签。

举个例子，假设我们在处理一个二分类问题，比如预测明天是否会下雨。在这种情况下，我们的训练数据可能包括过去的天气情况（如温度、湿度、风速等），训练标签则是相应日期是否下雨的信息，标记为1（下雨）或0（不下雨）。在模型训练过程中，它会学习这些输入数据（天气情况）和输出结果（是否下雨）之间的关系，从而在给定新的天气数据时，可以预测出是否会下雨。

<span style="color:red;">**探索性数据分析（Exploratory Data Analysis，简称EDA）**</span>是指对已有的数据（特别是调查或观察得来的原始数据）在尽量少的先验假定下进行探索。其主要的目的是通过数据可视化和简单的统计工具，对数据进行理解和解释，找出数据的主要特征和结构，发现数据中的异常值和关键变量。

例如，EDA技术可以帮助我们回答以下问题：

1. 数据的分布情况如何？
2. 数据中是否存在异常值？
3. 变量之间是否存在关联或者趋势？
4. 是否有需要进行更深入研究的模式？
5. 数据是否满足你的业务或研究需求？

探索性数据分析的主要工具包括：描述统计、相关性分析、可视化等。

例如，我们可以使用散点图来观察两个变量之间的关系，使用直方图来观察单个变量的分布情况，使用箱型图来找出数据中的异常值，使用描述性统计分析（如均值、中位数、标准差等）来了解数据的集中趋势和离散程度等。

在对数据进行预处理和建立模型之前，进行EDA是非常重要的步骤，因为它可以帮助我们更好地理解数据，从而做出更好的决策。

Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

## Objectives

Perform exploratory  Data Analysis and determine Training Labels

*   Exploratory Data Analysis
*   Determine Training Labels

## Import Libraries and Define Auxiliary Functions

We will import the following libraries.

In [5]:
# import piplite
# await piplite.install(['numpy'])
# await piplite.install(['pandas'])

In [6]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

### Data Analysis

两段代码都是用于从指定的URL下载数据集，但使用的方法和库有所不同。下面我们详细比较这两段代码：

1. **第一段代码：**

    - **库的使用**：此代码中使用了`js`库，它是一个JavaScript库，允许你在Python环境中执行JavaScript代码。`fetch`是JavaScript中的一个方法，用于获取资源。

    - **工作方式**：`resp = await fetch(URL)`这一行异步地从给定的URL获取数据。这意味着它是非阻塞的，代码执行不会在此暂停，直到数据被完全下载。

    - **数据处理**：`dataset_part_1_csv = io.BytesIO((await resp.arrayBuffer()).to_py())`将获取的数据转换为Python中的bytes-like对象，这样你就可以像处理本地文件一样处理它了。

    - **使用场景**：这种方法更适用于异步环境，例如在特定的Python框架或应用中，你希望同时执行多个任务而不等待每个任务完成。

2. **第二段代码：**

    - **库的使用**：这段代码使用了`pandas`库，它是Python中用于数据分析和处理的主要库。

    - **工作方式**：`df=pd.read_csv(URL)`这一行直接从给定的URL读取CSV文件，并将数据加载到DataFrame中。这是一个同步操作，意味着它会阻塞后续代码的执行，直到数据完全下载和加载。

    - **数据处理**：数据直接被加载到DataFrame中，这使得你可以立即进行数据分析和处理。

    - **使用场景**：这种方法在数据科学和分析的常规任务中更为常见。因为`pandas`提供了大量用于数据处理和分析的工具，所以这种方法在大多数数据分析场景中都很受欢迎。

**总结**：

两种方法都能成功地从URL下载数据集，但它们的适用场景不同：

- 如果你正在使用一个支持异步操作的环境，并希望在下载数据时执行其他任务，那么第一种方法可能更适合你。
- 如果你的主要目标是进行数据分析，并且不需要异步操作，那么第二种方法使用`pandas`将会更直接、更简单。

In [7]:
# from js import fetch
# import io

# URL = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv'
# resp = await fetch(URL)
# dataset_part_1_csv = io.BytesIO((await resp.arrayBuffer()).to_py())

Load Space X dataset, from last section.

In [8]:
URL = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv'
df=pd.read_csv(URL)
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

Identify and calculate the percentage of the missing values in each attribute

#### `df.isnull().sum()/df.count()*100` 这个表达式是用来计算数据框（DataFrame）中每一列中空值（NaN）所占的百分比。

这个表达式是如何工作的呢？

- `df.isnull()`：这将返回一个与原始 DataFrame 同样大小的 DataFrame，但是此 DataFrame 的值都是布尔值，如果原 DataFrame 对应位置的元素是空值（NaN），那么新 DataFrame 对应位置的元素就是 True，否则就是 False。

- `df.isnull().sum()`：这将返回一个 Series，这个 Series 的索引是原 DataFrame 的列名，每个索引对应的值是这一列中空值的数量。

- `df.count()`：这将返回一个 Series，这个 Series 的索引是原 DataFrame 的列名，每个索引对应的值是这一列中非空值的数量。

- `df.isnull().sum()/df.count()`：这将返回一个新的 Series，这个 Series 的索引是原 DataFrame 的列名，每个索引对应的值是这一列中空值数量和非空值数量的比值。

- `df.isnull().sum()/df.count()*100`：这将返回一个新的 Series，这个 Series 的索引是原 DataFrame 的列名，每个索引对应的值是这一列中空值数量和非空值数量的比值乘以 100，即空值所占的百分比。

这个表达式的结果可以帮助我们了解数据的完整性，以决定我们是否需要对数据进行清洗或者填充空值等操作。

在pandas库中，DataFrame对象的`count()`函数用于计算每一列（或者行）中非空值的数量。非空值包括数字、字符串、布尔值等，只要不是NaN（即pandas中的空值表示），都会被计数。

例如，你有以下的DataFrame：

```python
import pandas as pd
import numpy as np

df = pd.DataFrame({
   'A': [1, 2, np.nan, 4],
   'B': ['a', 'b', 'c', 'd'],
   'C': [np.nan, np.nan, np.nan, np.nan]
})

print(df)
```
输出为：
```python
     A  B   C
0  1.0  a NaN
1  2.0  b NaN
2  NaN  c NaN
3  4.0  d NaN
```
当你运行`df.count()`的时候，你会得到：

```python
print(df.count())
```
输出为：
```python
A    3
B    4
C    0
dtype: int64
```
这告诉我们在'A'列中有3个非空值，在'B'列中有4个非空值，而在'C'列中没有非空值。

In [9]:
df.isnull().sum()/df.count()*100

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

In [11]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

### TASK 1: Calculate the number of launches on each site

The data contains several Space X  launch facilities: <a href='https://en.wikipedia.org/wiki/List_of_Cape_Canaveral_and_Merritt_Island_launch_sites?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01'>Cape Canaveral Space</a> Launch Complex 40  <b>VAFB SLC 4E </b> , Vandenberg Air Force Base Space Launch Complex 4E <b>(SLC-4E)</b>, Kennedy Space Center Launch Complex 39A <b>KSC LC 39A </b>.The location of each Launch Is placed in the column <code>LaunchSite</code>

任务1：计算每个发射场的发射次数
数据中包含了几个Space X发射设施：Cape Canaveral Space Launch Complex 40 VAFB SLC 4E、Vandenberg Air Force Base Space Launch Complex 4E (SLC-4E)、Kennedy Space Center Launch Complex 39A KSC LC 39A。每次发射的位置都放在“LaunchSite”列中。

Next, let's see the number of launches for each site.

Use the method  <code>value_counts()</code> on the column <code>LaunchSite</code> to determine the number of launches  on each site:

In [12]:
# Apply value_counts() on column LaunchSite
df['LaunchSite'].value_counts()

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

Each launch aims to an dedicated orbit, and here are some common orbit types:

*   <b>LEO</b>: Low Earth orbit (LEO)is an Earth-centred orbit with an altitude of 2,000 km (1,200 mi) or less (approximately one-third of the radius of Earth),\[1] or with at least 11.25 periods per day (an orbital period of 128 minutes or less) and an eccentricity less than 0.25.\[2] Most of the manmade objects in outer space are in LEO <a href='https://en.wikipedia.org/wiki/Low_Earth_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01'>\[1]</a>.

*   <b>VLEO</b>: Very Low Earth Orbits (VLEO) can be defined as the orbits with a mean altitude below 450 km. Operating in these orbits can provide a number of benefits to Earth observation spacecraft as the spacecraft operates closer to the observation<a href='https://www.researchgate.net/publication/271499606_Very_Low_Earth_Orbit_mission_concepts_for_Earth_Observation_Benefits_and_challenges?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01'>\[2]</a>.

*   <b>GTO</b> A geosynchronous orbit is a high Earth orbit that allows satellites to match Earth's rotation. Located at 22,236 miles (35,786 kilometers) above Earth's equator, this position is a valuable spot for monitoring weather, communications and surveillance. Because the satellite orbits at the same speed that the Earth is turning, the satellite seems to stay in place over a single longitude, though it may drift north to south,” NASA wrote on its Earth Observatory website <a  href="https://www.space.com/29222-geosynchronous-orbit.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" >\[3] </a>.

*   <b>SSO (or SO)</b>: It is a Sun-synchronous orbit  also called a heliosynchronous orbit is a nearly polar orbit around a planet, in which the satellite passes over any given point of the planet's surface at the same local mean solar time <a href="https://en.wikipedia.org/wiki/Sun-synchronous_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">\[4] <a>.

*   <b>ES-L1 </b>:At the Lagrange points the gravitational forces of the two large bodies cancel out in such a way that a small object placed in orbit there is in equilibrium relative to the center of mass of the large bodies. L1 is one such point between the sun and the earth <a href="https://en.wikipedia.org/wiki/Lagrange_point?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01#L1_point">\[5]</a> .

*   <b>HEO</b> A highly elliptical orbit, is an elliptic orbit with high eccentricity, usually referring to one around Earth <a href="https://en.wikipedia.org/wiki/Highly_elliptical_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">\[6]</a>.

*   <b> ISS </b> A modular space station (habitable artificial satellite) in low Earth orbit. It is a multinational collaborative project between five participating space agencies: NASA (United States), Roscosmos (Russia), JAXA (Japan), ESA (Europe), and CSA (Canada)<a href="https://en.wikipedia.org/wiki/International_Space_Station?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[7] </a>

*   <b> MEO </b> Geocentric orbits ranging in altitude from 2,000 km (1,200 mi) to just below geosynchronous orbit at 35,786 kilometers (22,236 mi). Also known as an intermediate circular orbit. These are "most commonly at 20,200 kilometers (12,600 mi), or 20,650 kilometers (12,830 mi), with an orbital period of 12 hours <a href="https://en.wikipedia.org/wiki/List_of_orbits?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[8] </a>

*   <b> HEO </b> Geocentric orbits above the altitude of geosynchronous orbit (35,786 km or 22,236 mi) <a href="https://en.wikipedia.org/wiki/List_of_orbits?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[9] </a>

*   <b> GEO </b> It is a circular geosynchronous orbit 35,786 kilometres (22,236 miles) above Earth's equator and following the direction of Earth's rotation <a href="https://en.wikipedia.org/wiki/Geostationary_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[10] </a>

*   <b> PO </b> It is one type of satellites in which a satellite passes above or nearly above both poles of the body being orbited (usually a planet such as the Earth <a href="https://en.wikipedia.org/wiki/Polar_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[11] </a>

每次发射都是为了达到特定的轨道，这里有一些常见的轨道类型：

LEO：低地球轨道(LEO)是以地球为中心的轨道，其高度在2000公里（1200英里）或以下（大约为地球半径的三分之一），或者至少每天有11.25个周期（轨道周期128分钟或以下）且偏心率小于0.25。人造物体在外太空中的大部分都在LEO轨道中。

VLEO：非常低地球轨道(VLEO)可以定义为平均高度在450公里以下的轨道。在这些轨道中操作可以为地球观测的航天器提供一些好处，因为航天器更靠近观测点。

GTO：地球同步轨道是一种让卫星匹配地球旋转的高地球轨道。位于地球赤道上方22,236英里（35,786公里）的位置，这个位置对于监视天气、通信和监控非常有价值。因为卫星以地球转动的同样速度进行轨道运行，所以卫星似乎停留在一个经度上，尽管它可能会向北或向南漂移。

SSO（或SO）：这是一种太阳同步轨道，也称为日同步轨道，它是围绕一颗行星的近极轨道，在该轨道中，卫星在任何给定的行星表面点经过的当地平均太阳时间都是相同的。

ES-L1：在拉格朗日点，两个大天体的引力在某种程度上被抵消，使得放在那里轨道上的小物体相对于大天体的质心处于平衡状态。L1就是太阳和地球之间的一个这样的点。

HEO：高度椭圆轨道，是一种高偏心率的椭圆轨道，通常指围绕地球的轨道。

ISS：这是一个低地球轨道的模块化空间站（宜居人造卫星）。它是五个参与空间机构之间的多国合作项目：NASA（美国）、Roscosmos（俄罗斯）、JAXA（日本）、ESA（欧洲）和CSA（加拿大）。

MEO：地心轨道的高度范围在2000公里（1200英里）到刚刚低于地球同步轨道的35786公里（22236英里）。也被称为中间圆形轨道。这些轨道"最常见的是20200公里（12600英里）或20650公里（12830英里），轨道周期为12小时。

HEO：地心轨道超过地球同步轨道的高度（35786公里或22236英里）。

GEO：这是一个环绕地球赤道的圆形地球同步轨道，高度为35786公里（22236英里），并跟随地球的旋转方向。

PO：这是一种卫星类型，其中卫星经过被其轨道（通常是如地球这样的行星）的两极或近两极的上方。

some are shown in the following plot:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/Orbits.png)

### TASK 2: Calculate the number and occurrence of each orbit

Use the method  <code>.value_counts()</code> to determine the number and occurrence of each orbit in the  column <code>Orbit</code>

In [13]:
# Apply value_counts on Orbit column
df['Orbit'].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

### TASK 3: Calculate the number and occurence of mission outcome per orbit type

Use the method <code>.value_counts()</code> on the column <code>Outcome</code> to determine the number of <code>landing_outcomes</code>.Then assign it to a variable landing_outcomes.

In [15]:
# landing_outcomes = values on Outcome column
landing_outcomes = df['Outcome'].value_counts()
landing_outcomes

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

<code>True Ocean</code> means the mission outcome was successfully  landed to a specific region of the ocean while <code>False Ocean</code> means the mission outcome was unsuccessfully landed to a specific region of the ocean. <code>True RTLS</code> means the mission outcome was successfully  landed to a ground pad <code>False RTLS</code> means the mission outcome was unsuccessfully landed to a ground pad.<code>True ASDS</code> means the mission outcome was successfully  landed to a drone ship <code>False ASDS</code> means the mission outcome was unsuccessfully landed to a drone ship. <code>None ASDS</code> and <code>None None</code> these represent a failure to land.

True Ocean表示任务结果成功降落到海洋的特定区域，而False Ocean表示任务结果未成功降落到海洋的特定区域。True RTLS表示任务结果成功降落到地面垫上，False RTLS表示任务结果未成功降落到地面垫上。True ASDS表示任务结果成功降落到无人机船上，False ASDS表示任务结果未成功降落到无人机船上。None ASDS和None None表示未能成功降落。

下面的代码段，其中使用了`for`循环和`enumerate`函数来迭代一个字典`landing_outcomes`的键（key）。让我们逐行分解代码：

1. `for i, outcome in enumerate(landing_outcomes.keys()):`
   
   这是一个`for`循环的开头，它遍历字典`landing_outcomes`的键。这里使用了`enumerate`函数，它会为字典中的每个键提供一个索引值，从0开始。

    - `i`：是当前键的索引值。它是`enumerate`函数提供的，将从0开始并在每次迭代时递增。
    - `outcome`：是字典`landing_outcomes`的当前键。

    例如，如果`landing_outcomes`是这样一个字典：
    ```python
    landing_outcomes = {
        "Success": "Successful landing",
        "Failure": "Unsuccessful landing"
    }
    ```
    那么在第一次迭代中，`i`将是0，`outcome`将是"Success"。在第二次迭代中，`i`将是1，`outcome`将是"Failure"。

2. `print(i, outcome)`

   这一行代码打印出当前迭代的索引值`i`和对应的键`outcome`。

    继续上面的例子，输出将是：
    ```
    0 Success
    1 Failure
    ```

综上所述，这个代码段的目的是打印出字典`landing_outcomes`中每个键及其对应的索引值。

In [16]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

We create a set of outcomes where the second stage did not land successfully:

这个代码段在做的事情是从 `landing_outcomes.keys()` 中选取一部分键（对应索引为 1, 3, 5, 6, 7 的那部分），并将这些键组成一个集合
（set）。

首先，`landing_outcomes.keys()` 是获取 `landing_outcomes`（一个字典）的所有键。然后通过索引 `[[1,3,5,6,7]]` 选择了一部分键，
最后 `set()` 函数把这部分键转化为一个集合。

在 Python 中，集合（set）是一个无序且元素唯一的容器。在这个代码段中，`bad_outcomes` 集合包含了 landing outcomes（降落结果）中被
视为不良结果（bad outcomes）的类别。

这样，`bad_outcomes` 集合就能够用来检查一个给定的 landing outcome 是否是 bad outcome，如 `if outcome in bad_outcomes:` 就
是判断 `outcome` 是否是 bad outcome。

这个集合可以用于标签编码或创建新的二元变量，比如 "成功" vs "失败"，这对于数据分析和机器学习模型可能会很有帮助。

In [18]:
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

### TASK 4: Create a landing outcome label from Outcome column

Using the <code>Outcome</code>,  create a list where the element is zero if the corresponding  row  in  <code>Outcome</code> is in the set <code>bad_outcome</code>; otherwise, it's one. Then assign it to the variable <code>landing_class</code>:

在这段代码中，我们使用了 Python 的列表解析（list comprehension）。这是一个非常强大的工具，可以在一行代码中创建新的列表。对于 df['Outcome'] 中的每个 "outcome"，我们检查它是否在 "bad_outcomes" 集合中。如果在，那么我们就把0加入到 "landing_class" 中，否则我们就加入1。

最后，我们得到的 "landing_class" 是一个和 df['Outcome'] 一样长的列表，其中的元素是0或1，表示对应的 "Outcome" 是否是 bad outcome。

在Python中，列表解析（list comprehension）通常比使用循环（loop）来创建列表更高效。这是由于以下两个主要原因：

1. 速度：列表解析在内部实现中使用了优化，这使得它们通常比等效的循环更快。因此，如果你正在处理大量的数据，那么使用列表解析可能会带来更快的运行速度。

2. 简洁性：列表解析通常比使用循环创建列表的代码更简洁。这使得代码更易读，也更易写。

然而，值得注意的是，尽管列表解析在许多情况下都非常有用，但并不是所有情况都适用。在复杂的情况下，使用传统的循环可能会更清晰，更易于理解。另外，如果你需要在创建列表的过程中执行复杂的操作或者多个操作，那么使用循环可能会更合适。

In [19]:
# landing_class = 0 if bad_outcome
# landing_class = 1 otherwise
landing_class = [0 if outcome in bad_outcomes else 1 for outcome in df['Outcome']]

This variable will represent the classification variable that represents the outcome of each launch. If the value is zero, the  first stage did not land successfully; one means  the first stage landed Successfully

这个变量将代表每次发射的结果分类变量。如果值为零，则表示第一阶段没有成功着陆；如果值为一，则表示第一阶段成功着陆。

In [1]:
# landing_class = 0 if bad_outcome
# landing_class = 1 otherwise
landing_class = [0 if outcome in bad_outcomes else 1 for outcome in df['Outcome']]
df['Class']=landing_class
df[['Class']].head(8)

NameError: name 'landing_class' is not defined

In [21]:
df.head(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

We can use the following line of code to determine  the success rate:

我们可以使用以下代码行来确定成功率：

In [23]:
df["Class"].mean()

0.6666666666666666

We can now export it to a CSV for the next section,but to make the answers consistent, in the next lab we will provide data in a pre-selected date range.

<code>df.to_csv("dataset_part\_2.csv", index=False)</code>

## Authors

[Pratiksha Verma](https://www.linkedin.com/in/pratiksha-verma-6487561b1/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01)

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By      | Change Description      |
| ----------------- | ------- | -------------   | ----------------------- |
| 2022-11-09        | 1.0     | Pratiksha Verma | Converted initial version to Jupyterlite|

IBM Corporation 2022. All rights reserved.